/* General Styles */
.SignupBackground {
    background-image: url('../assets/SignupImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Change height to min-height */
    width: 100%;
    overflow: hidden; 
}

.SignupBox {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 50%;
    max-width: 600px;
    padding: 2em;
    transition: width 0.5s, height 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh; /* Set a maximum height to prevent content from disappearing */
    overflow-y: auto; /* Add vertical scroll if content overflows */
}

.SignupBox h1 {
    font-family: 'walkester';
    margin: 1em 0;
    font-size: 2rem;
    color: #153448;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.column {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.colorContainer {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: center;
}

.colorCircle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: solid 1px transparent;
}
.colorCircle.selected {
    border-color: #000000;
}

.signupbutton {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    background-color: #c25f1d00;
    color: white;
    cursor: pointer;
    text-align: center;
}

.signupbutton button {
    width: 20%; /* Full width on smaller screens */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #46f263;
    color: white;
    cursor: pointer;
}

.signupbutton button:hover {
    background-color: #da8234;
}

.buttons {
    text-align: center;
    margin-top: 1em;
}

label {
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.loginbutton {
    justify-content: center;
    color: #da8234;
    text-align: center;

}
.loginbutton label {
}

.link:hover {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .SignupBox {
        width: 70%;
        padding: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    .SignupBox {
        width: 80%;
        padding: 1.5em;
    }
    .form {
        flex-direction: column; /* Stack columns vertically */
    }
    .column {
        width: 100%; /* Full width on smaller screens */
    }
    .signupbutton {
        width: 100%; /* Ensure button spans full width */
    }
}

@media screen and (max-width: 480px) {
    .SignupBox {
        width: 90%;
        padding: 1em;
    }
    .SignupBox h1 {
        font-size: 1.5rem;
    }
    .signupbutton button {
        padding: 0.75em;
    }
}
